/* table layout-768px */
@media screen and (min-width: 768px) and (max-width: 991px){
    #second_header button{
        visibility: hidden;
    }
    #second_header .logo{
        margin-left: 125%;
    }
    #main_carousel img{
        height: 400px;
        width: 100%;
    }

    #main_carousel .main_carousel_caption{  
        width: 40%;
    }
   
    #Tranding_Top_Test{
        height: 560px;
       
    }
    footer img{
       margin-left:18%;
    }

}

/* mobile layout-320px */
@media screen and (max-width: 767px){
    #second_header .logo{
        margin-left:25%;
    }
	#second_header button{
        display: none;
    }
	#main_header .main_header_dropdown_col{
        display:none
    }

    #main_carousel .main_carousel_caption{  
        top: 70px;
        width: 100%;
        padding-right: 10px;
    }
    #main_carousel img{
        height: 400px;
        width: 100%;
    }

    #our_product .item_button li{

        padding:3px;
        border-bottom: 2px solid #fff;
        
    }

    #banner_section{
        height:1220px;
        width: 100%;
    }
    
    #Tranding_Top_Test{
        height: 1950px;
        
    }
    footer{
        text-align: center;
    }
   

	
}
/* wide mobile layout-480px */
@media screen and (min-width: 480px) and (max-width: 768px){
	#main_carousel img{
        height: 400px;
        width: 100%;
    }
    #main_carousel .main_carousel_caption{  
        top: 70px;
        width: 50%;
        padding-right: 10px;
    }	

}


/* iphone 4+/pixel-ragio-2 */
@media screen and (min-width: 768px) and (max-width: 991px){
	#main_carousel img{
        height: 400px;
        width: 100%;
    }
    #main_carousel .main_carousel_caption{  
        top: 70px;
        width: 50%;
        padding-right: 10px;
    }
}