/* font-family: 'Caveat', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
/* primary:#F2780C #0A472E #97BF04

secondary:#D93D1A  #F2BB13 #72A603 #C0D99C  */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

h1,h2,h4,p,a{
    font-family: 'Open Sans', sans-serif;
}
.primaryTextColor{
    color:#0A472E
}
.primaryTextColor_1{
    color:#97BF04
}
.primaryTextColor_2{
    color:#F2780C
}
.PrimaryButton_1{
    color:#fff;
    background-color: #97BF04;
}
.PrimaryButton_1:hover{
    color:#97BF04;
    background-color:#fff;
}

#header{
    z-index: 20;
}
#main_carousel{
    z-index:-20;
}

.underline{
    height: 2px;
    width: 50px;
    background-color:#97BF04 ;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.underline1{
    height: 2px;
    /* width: 30px; */
    background-color:#97BF04 ;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add_to_card_button a{
    color:#97BF04;
    border: 1px solid #97BF04;
    margin-top:10px;
    margin-bottom:10px;
}
.add_to_card_button a:hover{
    background-color:#97BF04;
    color:#fff;
    
}
/* ==================================global setup area====================================*/
/* ==================================Start header Section====================================*/
.Signup_in a,span{
    padding: 2px 3px 2px 0px;
    color:#97BF04 ;
}
.Signup_in a:hover{
    color:#0A472E ;
}

.social_icon a{
    padding-left: 5px;
    color:#97BF04 ;
}
.social_icon a:hover{
    color:#0A472E;
}

/* end top header------------------------------- */

#second_header .logo img{
      width: 200px;
      height:60px;
}
#second_header button{
    background: #97BF04;
    color: #fff;
}
#second_header li a{
    margin-left: 8px;
    height:30px;
    width: 30px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 50%;
    border:1px solid #97BF04 ;
    color: #97BF04;
}

#second_header li a:hover{
    background-color:#97BF04 ;
    color: #fff;
}
/* end second(logo) header ----------------------------------*/
#main_header{
    background-color:#0A472E;
    height:60px;
    /*  */
}
.main_header_dropdown{
    height:50px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #97BF04;
}
.main_header_dropdown .main_header_dropdown_menu{
    background-color:#0A472E ;
}
.main_header_dropdown .main_header_dropdown_menu ul li a:hover{
    background-color:#97BF04 ;
}

.main_manu_normal{
    background-color: #0A472E;
}
.main_manu_normal ul li a:hover{
    background-color: #97BF04;
}
/* end main header ------------------------------------------*/
/* ==================================End header Section====================================*/


/* ================================================================================*/
/* ==================================Main Area start====================================*/
/* ================================================================================*/


/* ==================================main carousel start==================================*/
#main_carousel{
    position: relative;
}
#main_carousel img{
    height: 450px;
    width: 100%;
    z-index: -10;
}
#main_carousel .main_carousel_caption{
    position: absolute;
    top: 100px;
    width: 40%;
    padding-left: 20px;
    color: #fff;
}
#main_carousel .carousel-item::before{
    content:"";
    height: 450px;
    width: 100%;
    background-color: #96bf0442;
    position: absolute;
}

/* ==================================main carousel end==================================*/
/* ==================================our prducts details start==================================*/
#our_products_details{
    width:100vw;
}
#our_products_details .number img{
     height: 70px;
     width: 70px;
}
#our_products_details .number_center img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    box-shadow: 0px 1px 11px 11px #97BF04 ;
}

/* ==================================our prducts detail end==================================*/
/* ==================================our prducts section start==================================*/

#our_product{
    width:100vw;
    
}
#our_product .item_button li{
    list-style: none;
    font-weight: bold;
    padding-right: 10px;
    color:#97BF04;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    
}
#our_product .item_button li:hover{
    color:#0A472E;
    border-bottom: 2px solid #0A472E;
    border-top: 2px solid #0A472E;
    
}
#our_product .product_body img{   
    height:200px;
    width: 100%;
    
}
/* ==================================ou prducts section end==================================*/
/* =========Deels of the week,Best sellers, Our products section  start==================================*/
#best_products_week{
    width: 100vw;
}
#best_products_week .deals_week img{
    height: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
#best_products_week .deals_week .card-header{
    background-color: #F2780C;
}

#product_carousel img{
    height:200px;
    width: 100%;
}
#product_carousel .item{
    padding: 5px;
}
/* ============Deels of the week,Best sellers, Our products section end==================================*/
/* ========================= Banner section start========================= */
#best_products_week{
    background-color: #F4F4F4;
}
#banner_section{
    height:400px;
    width: 100%;
}

 #banner_section .banner_box1 img{
     height: 400px;
     width: 100%;
 }

 #banner_section .banner_box2 img{
     height: 200px;
     width: 100%;
 }
 #banner_section .banner_box3 img{
     height: 200px;
     width: 50%;
     float: left;
     padding-top: 20px;
     padding-right: 10px;
 }
 #banner_section .banner_box4 img{
     height: 200px;
     width: 50%;
     float: left;
     padding-top: 20px;
     padding-left: 10px;
 }
/* ========================= Banner section end========================= */
/* ==================== Tranding products,Top rated & Testimonial carousel  start========================= */
#Tranding_Top_Test{
    height: 520px;
    
}
#Tranding_Top_Test img{
    height: 70px;
    width: 70px
}
#Tranding_Top_Test .trandong_product{
    border-right: 1px solid #97BF04;
    border-left: 1px solid #97BF04;
}
#Tranding_Top_Test .trandong_product a:hover{
    color:#97BF04
}
#Tranding_Top_Test .testmonial .carousel-item img{
    height: 450px;
}
/* ==================== Tranding products,Top rated & Testimonial carousel  end========================= */
/* ==================== Our blog section Start========================= */
#our_blog .blog_box{
    height:auto;
}
#our_blog .blog_box img{
    height:150px;
    width: 100%;
}
/* ==================== Our blog section End========================= */
/* ==================== catagories before footer start========================= */
#catagories ul li a{
    color:#000;
}
#catagories ul li a:hover{
    color:#97BF04
}

#catagories .catagory_box1{
    background-image: url(img/catagories2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#catagories .catagory_box2{
    background-image: url(img/catagories1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#catagories .catagory_box3{
    background-image: url(img/catagories3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#catagories .catagory_box4{
    background-image: url(img/catagories6.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#catagories .catagory_box5{
    background-image: url(img/catagories5.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#catagories .catagory_box6{
    background-image: url(img/catagories4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* ==================== catagories before footer end========================= */

